body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cartItem{
  width: 300px;
  display: inline-flex;
}
.cartItem .cartLeft{
  width: 40%;
}
.cartItem .cartRight{
  width: 60%;
}
